/* General Styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #e7d6c2;
    color: #4d230a;
}

a {
    color: #FFFFFF;
    text-decoration: none;
}

/* Header Styles */
header {
    position: fixed;
    width: 100%;
    background-color: #c78a66;
    top: 0;
    z-index: 1000;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo a {
    font-size: 1.5em;
    font-weight: bold;
}

.menu-icon {
    font-size: 1.5em;
    cursor: pointer;
    display: none;
}

nav {
    display: flex;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    margin-left: 20px;
}

nav a {
    font-size: 1em;
}

/* Main Content Styles */
main {
    margin-top: 80px; /* To prevent content from being hidden under fixed header */
}

.bio-section {
    display: flex;
    flex-direction: row;
    align-items: justify;
    padding: 40px;
}

.bio-section img {
    width: 400px; /* Set a fixed width or use 100% for full width */
    height: 300px; /* Set a fixed height */
    object-fit: cover; /* Ensures the image covers the container without stretching */
    border-radius: 10px;
    margin-right: 40px;
}

.bio-text h1 {
    font-size: 2.5em;
}

.bio-text p {
    font-size: 1.2em;
    line-height: 1.6;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .menu-icon {
        display: block;
    }
    nav {
        display: none;
        flex-direction: column;
        background-color: #1B263B;
        width: 100%;
    }
    nav ul {
        flex-direction: column;
    }
    nav li {
        margin: 10px 0;
    }
    .bio-section {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .bio-section img {
        margin: 0 0 20px 0;
    }
}
